// THEME COLORS 

$brown-dark:  #532702;
$green:    rgba(0,56,22,1.0);
$bg: rgba(83,38,2,0.5);
$bg-dark: rgba(85, 43, 9, 0.75);
$footer: #1a0b00;
$dark: #17191b;

$primary:       $brown-dark;
$secondary:     $green;

// ACCORDION OVERRIDES
$accordion-bg:                            rgba($secondary, 0.25);
$accordion-button-active-bg:              rgba($primary, 0.25);
$accordion-button-active-color:           $dark;

$accordion-padding-y:                     1.5rem; // LEAVE THE PADDING-Y TO DEFAULT
$accordion-padding-x:                     1.5rem; // LEAVE THE PADDING-X TO DEFAULT
$accordion-icon-color:                    $primary; 
$accordion-icon-active-color:           $secondary;

// $accordion-icon-width:                    1.875rem; // LEAVE THE WIDTH TO DEFAULT
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/> <path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");

// INPUT PLACEHOLDER
$input-placeholder-color: $dark;

// SELECT 
$form-select-color: $dark;

//SHADOW
$box-shadow-lg:               0 1rem 3rem rgba($primary, .175);

// ##########################################
//   OPTION 1: 
// - IMPORT THE ENTIRE BOOTSTRAP 
// ##########################################
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// ##########################################
//   OPTION 2: 
// - IMPORT IMPORT ONLY THE PART OF BOOTSTRAP
// ##########################################

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

// Include any optional Bootstrap components as you like
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
