@use '../custom' as *;

.activities {
    padding:  0 0 5rem 0;
    background-color: $bg;
    
    &__logo-box {
        max-width: 100%;
        height: 8rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        text-align: center;
        position: relative;

        img {
            height: 100%;

            &:hover {
                filter: grayscale(120);
            }
        }

        span {
            white-space: nowrap;
        }   
    }

    &__logo-box:hover {
        box-shadow: $box-shadow-lg!important;
    }
}