@use '../custom' as *;

// GRADIENT MIXIN 
@mixin gradient {
    background: linear-gradient(45deg, rgba($primary, 0.95), rgba($secondary, 0.95));
    //background: -webkit-linear-gradient(45deg, rgba($primary, 0.95), rgba($secondary, 0.95));
}

// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absoluteCenterBot {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absoluteCenterMidBot {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absoluteCenterRight {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

// TRANSITION PROPERTY 
@mixin transitionProperty {
    transition-duration: 0.5s;
    transition-property: all;
}